<% sortable_field = section["sortable_field"] %>
<div class="lcp-nested-row" data-lcp-condition-scope>
  <% if sortable_field %>
    <span class="lcp-drag-handle">&#9776;</span>
  <% end %>

  <%
    assoc_input_renderer = ->(field_config, field_def, field_name) {
      resolved_input = field_config["input_type"] || field_def.type_definition&.input_type || field_def.type
      render_form_input(form, field_name, resolved_input, field_config, field_def)
    }
  %>
  <%= render "lcp_ruby/resources/nested_row_content",
             section: section, record_or_item: form.object,
             sortable_field: sortable_field, input_renderer: assoc_input_renderer %>

  <% if sortable_field %>
    <%= form.hidden_field sortable_field.to_sym, class: "lcp-position-field" %>
  <% end %>

  <% if section["allow_remove"] != false %>
    <%= form.hidden_field :_destroy, value: false, class: "lcp-destroy-flag" %>
    <button type="button" class="btn btn-danger lcp-nested-remove">Remove</button>
  <% end %>
</div>
